*~
*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
library-settings.txt
log.html
output.xml
report.html
selenium*
Makefile
bin/
coverage/
develop-eggs/
downloads/
eggs/
include/
lib/
parts/
var/
src/collective.gavisits.egg-info
