[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
    versions.cfg

package-name = collective.recaptcha
package-extras = [test]
versions = versions

parts +=
    omelette

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[sources]
